.container {
    background: #EDF1FF;
    margin-left: 15.3rem;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

.bigText{
    display: flex;
    justify-content: space-between;
}

.date{
    display: flex;
    width: 15%;
}

.date>img{
    width: 20px;
    height: 18px;
    margin-top: 0.2rem;
    padding-left: 0.3rem;
}

.btn{
    display: flex;
    margin-top: 2rem;
    padding-bottom: 2rem;
    /* height: 70px; */
}

.btn1 button{
    align-items: center;
    padding: 5px 12px;
    width: 131px;
    height: 46px;
    background: #4C6FFF;
    border-radius: 5px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn1 button:hover{
    background: #FFFFFF;
    color: #1D242D;
}

.btn2 button{
    align-items: center;
    padding: 5px 12px;
    width: 126px;
    height: 46px;
    background: #FFFFFF;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #1D242D;
    cursor: pointer;
}

.btn2 button:hover{
    background: #4C6FFF;
    color: #FFFFFF;
}

.transact{
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.total{
    width: 204px;
    height: 104px;
    background: #FFFFFF;
    border-radius: 5px;
    padding-left: 1rem;

}

.flex{
    display: flex;
    padding-top: 1rem;
}

.flex>img{
    padding-right: 0.5rem;
}

.flex p{
    font-size: 14px;
}

.total h3{
    font-style: bold;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #383737;
    padding-top: 1rem;
}

.top{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    background: #fff;
}

.heading th{
    width: 165.13px;
    height: 54px;
    background: #EDF1FF;
    text-align: left;
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;;
}

table td{
    width: 165.13px;
    height: 51px;
    background: #F7FAFC;
    padding-left: 2rem;
   
}

.wrapper{
    background: #FFFFFF;
    border-radius: 10px; 
    padding: 0 30px;   
}

table .approved{
    width: 33px;
    height: 27px;
    align-items: center;
    padding: 4px 16px;
    background: #C3F1CA;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #3DD154;
} 

table span{
    align-items: center;
    padding: 4px 27px;
    width: 73px;
    height: 27px;
    background: #FCE8E8;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #DC1D1D;
}