.container {
    background: #EDF1FF;
    margin-left: 15.3rem;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

.bigText{
    display: flex;
    justify-content: space-between;
}

.date{
    display: flex;
    width: 15%;
}

.date>img{
    width: 20px;
    height: 18px;
    margin-top: 0.2rem;
    padding-left: 0.3rem;
}

.btn{
    display: flex;
    margin-top: 2rem;
    padding-bottom: 2rem;
    /* height: 70px; */
}

.btn1 button{
    align-items: center;
    padding: 5px 12px;
    width: 131px;
    height: 46px;
    background: #4C6FFF;
    border-radius: 5px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn1 button:hover{
    background: #FFFFFF;
    color: #1D242D;
}

.btn2 button{
    align-items: center;
    padding: 5px 12px;
    width: 126px;
    height: 46px;
    background: #FFFFFF;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #1D242D;
    cursor: pointer;
}

.btn2 button:hover{
    background: #4C6FFF;
    color: #FFFFFF;
}

.transact{
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.total{
    width: 204px;
    height: 104px;
    background: #FFFFFF;
    border-radius: 5px;
    padding-left: 1rem;

}

.flex{
    display: flex;
    padding-top: 1rem;
}

.flex>img{
    padding-right: 0.5rem;
}

.flex p{
    font-size: 14px;
}

.total h3{
    font-style: bold;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #383737;
    padding-top: 1rem;
}

.top{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    background: #fff;
    padding-bottom: 3rem;
}

.heading th{
    width: 165.13px;
    height: 54px;
    background: #EDF1FF;
    text-align: left;
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;;
}

table td{
    width: 165.13px;
    height: 51px;
    background: #F7FAFC;
    padding-left: 2rem;
   
}

.wrapper{
    background: #FFFFFF;
    border-radius: 10px; 
    padding: 0 30px;   
}

table .approved{
    width: 33px;
    height: 27px;
    align-items: center;
    padding: 4px 16px;
    background: #C3F1CA;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #3DD154;
} 

table span{
    align-items: center;
    padding: 4px 27px;
    width: 73px;
    height: 27px;
    background: #FCE8E8;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #DC1D1D;
}

.distribution{
    padding-top: 3rem;
}

.distribution h3{
    padding-bottom: 1rem;
}

.frame{
    background: #FFFFFF;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.textFrame{
    text-align: right;
    padding-top: 1rem;
}

.below{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}

.comment{
    display: flex;
    justify-content: space-between;
}

.circle{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

.circle p{
    padding-left: 0.5rem;
}

.chtBtn button{
    width: 108px;
    height: 46px;
    background: #4C6FFF;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
}

.color{
    width: 21px;
    height: 19px;
    background: #3DD154;
    border-radius: 10px;
}

.colorRed{
    width: 21px;
    height: 19px;
    background: #E34A4A;
    border-radius: 10px;
}

.failure{
    margin-bottom: 3rem;
}

.failure h3{
    padding-bottom: 1rem;
}

.contain{
    display: flex;
    justify-content: space-between;
}

.class{
    background: #FFFFFF;
    width: 49%;
    border-radius: 10px;
    padding: 1rem;
}

.cardholder{
    background: #FFFFFF;
    width: 49%;
    border-radius: 10px;
    padding: 1rem;
}

.allText1{
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.allText2{
    display: flex;
    
}

.acquire{
    display: flex;
    margin-right: 1rem;
    width: 100%;
}

.acquire p{
    padding-left: 0.5rem;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    color: #1D242D;
    width: 115px;
}

.redCircle{
    width: 14px;
    height: 14px;
    background: #DC1D1D;
    border-radius: 10px;
}

.blueCircle{
    width: 14px;
    height: 14px;
    background: #4C6FFF;
    border-radius: 10px;
}

.purpleCircle{
    width: 14px;
    height: 14px;
    background: #B81FDE;
    border-radius: 10px;
}

.orangeCircle{
    width: 14px;
    height: 14px;
    background: #FF6934;
    border-radius: 10px;
}

.greenCircle{
    width: 14px;
    height: 14px;
    background: #3DD154;
    border-radius: 10px;
}

.classImage{
    padding-top: 3rem;
    text-align: center;
}

.barWrap{
    display: flex;
    padding-bottom: 1rem;
}

.bar1a{
    width: 115px;
    height: 8px;
    background: #4C6FFF;
    border-radius: 10px;
    position: relative;
    margin-right: -115px;
}

.bar1b{
    width: 92px;
    height: 8px;
    background: #DC1D1D;
    border-radius: 10px;
    position: relative;
    margin-right: -92px;
}

.bar1c{
    width: 50px;
    height: 8px;
    background: #66CB9F;
    border-radius: 10px;
    position: relative;
    margin-right: -50px;
}

.bar1d{
    width: 33px;
    height: 8px;
    background: #B81FDE;
    border-radius: 10px;
    position: relative;
    margin-right: -33px;
}

.bar1e{
    width: 21px;
    height: 8px;
    background: #FF6934;
    border-radius: 10px;
    position: relative;
    margin-right: -21px;
}


.bar2{
    width: 180px;
    height: 8px;
    background: #F7F7F7;
    border-radius: 10px;
    /* margin-left: -115px; */
}

.progressBar{
    margin-top: 2rem;
}

.percent p{
    margin-top: -6px;
    padding-left: 1rem;
}

.Buttons{
    display: flex;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.btns1 button{
    align-items: center;
    padding: 3px 7px;
    width: 80px;
    height: 40px;
    background: #4C6FFF;
    border-radius: 5px;
    border: none;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 0.8rem;
}

.btns1 button:hover{
    background: #FFFFFF;
    color: #1D242D;
    border: 1px solid #4C6FFF;
}

.btns2 button{
    align-items: center;
    padding: 3px 7px;
    width: 80px;
    height: 40px;
    background: #EBEEF2;
    border-radius: 5px;
    border: none;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #3D4C5E;
    cursor: pointer;
    margin-right: 1rem;
}

.btns2 button:hover{
    background: #FFFFFF;
    color: #1D242D;
    border: 1px solid #4C6FFF;
}


.lists{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.funds li{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1D242D;
    padding-bottom: 1rem;
    margin-left: 1rem;
    list-style: none;
}

.funds li::before{
    content: "\2022"; 
    color: #4C6FFF;
    font-weight: bold;
    width: 8px;
    height: 8px;
    font-size: 18px;
    display: inline-block;
    margin-right: 0.5rem;
}

.amount li{
    list-style: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1D242D;
    padding-bottom: 1rem;
    margin-right: 1rem;
}

